h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul,
dl {
  margin: 0px;
}

.BRSonomaRegular {
  font-family: 'BRSonoma-Regular';
}

.BRSonomaMedium {
  font-family: 'BRSonoma-Medium';
}

.BRSonomaBold {
  font-family: 'BRSonoma-Bold';
}

.fs-14 {
  font-size: $font-size-sm;
}

.lh20 {
  line-height: 20px;
}

.lh40 {
  line-height: 40px;
}
