@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.customNavbar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  @include media-breakpoint-up(xl) {
    height: 64px;
  }

  .textLogo {
    font-size: 14px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  .toggler {
    padding: 0px !important;
    border: none !important;
    color: #ffffff !important;
  }
  .logo {
    width: 65px;
    z-index: 1000;
    @include media-breakpoint-up(md) {
      width: 74px;
    }
  }
}
