@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.submitButton {
  width: 336px;
  height: 3.5rem;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  background-color: $gray100;
  color: $white;
  border: none;
  margin-top: 20px;
  letter-spacing: 0.4px;
  z-index: 500;
  @include media-breakpoint-up(md) {
    margin-top: 8px;
    width: 195px;
    height: 64px;
    font-size: 20px;
    line-height: 24px;
  }
}

.inactive {
  background-color: $neutrals200;
  color: $neutrals500;
}
