@import '@/sass/abstracts/variables';
@import 'bootstrap/scss/mixins';

.resumenContainer {
  background-color: $neutrals100;
  padding: 4rem 0px 0px;
  &__breadcrumb {
    background-color: $neutrals200;
    height: 3.5rem;
    width: 100%;
  }

  &__contentSection {
    background-color: $neutrals100;
    /* padding: 2.5rem 0rem 9.75rem; */
    /* padding: 2.5rem 0rem 9.75rem; */
    padding: 2rem 0rem 9.75rem;
    @include media-breakpoint-up(md) {
      padding: 4rem 0rem 9.75rem;
    }
  }
  &__contentContainer {
    /* padding: 0rem 1.5rem; */
    padding: 0rem;
    @include media-breakpoint-up(md) {
      padding: 3.25rem 6rem 0rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    width: 336px;
    height: 308px;
    border-radius: 1.5rem;
    background-color: $white;
    box-shadow: 0 1px 25px #aeacf340;
    padding: 1.5rem 2rem;
    /* margin-top: 40px; */
    &__header {
      padding: 0px 0px 1rem;
      border-bottom: 1px solid $neutrals400;

      p {
        font-size: 10px;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
    }

    &__body {
      color: $neutrals700;
    }

    @include media-breakpoint-up(md) {
      width: 928px;
      height: 308px;
      /* margin-top: 0px; */
    }
  }
}
